
Unity/Scrolling game/Library/

Unity/DAGV project/Library/

Unity/DAGV project/ProjectSettings/

Unity/DAGV project/Logs/

Unity/DAGV project/Assets/Plugins/

Houdini/backup/

Houdini/worldExport2/backup/

otherProjects/Unity/Scrolling game/Library/

unityProject/Library/

unityProject/Assets/Plugins/
